html{
  /*border: solid;*/
}

body{
    /*background-color: aquamarine;*/
  }

header{
  background-color: beige;
  color: black;
  height: auto;
}

.image-container {
  width: 100%; /* Set your desired width */
  max-width: 250px;
  height: auto; /* Set your desired height */
  overflow: hidden;
  position: relative;
  top: 50%; /* Position the text vertically at the center of the container */
  left: 30%; /* Position the text to the right of the container */
  transform: translate(-50%); /* Center the text precisely */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: none;
  background-size: fill;
  background-position: center;
}

.circular-image {
  object-fit: fill;
  border-radius: 100%;
}

.btn1{
  background-color: black;
  color: white
}

.btn2{
  width: 75%;
}

.btn3{
  border-width: 5px;
  vertical-align: middle;
}

.btn4:hover{

}

.btn1:hover{
  background-color: aquamarine;
}

.centered{
  position: absolute;
  left: 50%;
  transform: translate(-50%)
}

.padding{
  padding: 1%;
  padding-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.relative{
  position: relative;
}



#contact{
  padding: 15px;
  padding-top: 30px;
}

.dynamic-input {
  width: auto;
  min-width: 100px; /* Set a minimum width */
  max-width: 400px; /* Optionally, set a maximum width */
}

.clr{
  width: 100%;
}

#bg{
    background-image: url('grass.jpg');
    background-size: cover;
}

.centr{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Set the height to 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure the link is above other content */

}

.centr2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
  margin: 0; /* Remove default body margin */
}

a.bg-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline from the link text */
  background-color: transparent; /* Make the link background transparent */
  z-index: 1; /* Ensure the link is above other content */
  pointer-events: none;
}

.text-container {
  text-align: center;
}



